<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>

    <div id = "contenedor">

        <ol>

            <li v-for = "item in chamacos">
                {{ item.name }}: <span>
                    {{ item.role}}
                </span>
            </li>

        </ol>

        <h1>
            {{ name }}
        </h1>

        <h2>
            {{ lastname }}
        </h2> 

        <input type="text" v-model="chamaco" name="">
        <input type="text" v-model="rol" name="">

        <hr>

        <button @click="save">
            Save chamaco
        </button>


    

    </div>

   

    <script type="text/javascript">

        const { createApp } = Vue;



        var test = createApp({
            data () {
                return {
                    valor1: 0,
                    valor2: 0,
                    valorFinal: 0,
                    age: 0,
                    chamacos: [{name: "Achoy", role: "tonto"},
                     {name: "Zamago", role: "Chapulin"}],
                     chamaco: "",
                     rol: ""
                }
            },
            methods: {
                hola(){
                    this.valorFinal = parseInt(this.valor1)+ parseInt(this.valor2);
                    alert("El resultado es: " + this.valorFinal );
                },
                save(){
                    this.chamacos.push({name: this.chamaco, role: this.rol},)
                }
            },
            
        }).mount("#contenedor")

    </script>
    
</body>
</html>