<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   
</head>
<body>

    <div id = "contenedor">

        <div  v-if ="action==true">

            <button @click = "registrar" btn btn-primary>
                Añadir
                
            </button>

            

            <table id="tablaUsuarios" class="table stripped bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Website</th>
                        <th>Company name</th>
                        <th>Eslogan</th>
                        <th>BS</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="usuario in users">
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.name }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.phone }}</td>
                        <td>{{ usuario.website }}</td>
                        <td>{{ usuario.company.name }}</td>
                        <td>{{ usuario.company.catchPhrase }}</td>
                        <td>{{ usuario.company.bs }}</td>
                        <td class = "text-center">
                            <button @click = "editar(usuario)">
                                Editar
                            </button>
                            <button @click = "borrar(usuario.id)">
                                Borrar
                            </button>
                        </td>
    
                    </tr>
                </tbody>
            </table>
    
        </div>

        
        <div v-else>
            <form action="post">
                <fieldset>
                    <legend>
                        Registrar usuario
                    </legend>
    
                    <br>
    
                    <label>
                        Name
                    </label>
    
                    <input type="name" v-model="name" name="">
    
                    <br><br>
    
                    <label>
                        Username
                    </label>
    
                    <input type="username" v-model="username" name="">
    
                    <br><br>
    
                    <label>
                        Email
                    </label>
    
                    <input type="email" v-model="email" name="">
    
                    <br><br>
    
                    <label>
                        Phone
                    </label>
    
                    <input type="phone" v-model="phone" name="">
    
                    <br><br>
    
                    <label>
                        Website
                    </label>
    
                    <input type="website" v-model="website" name="">
    
                    <br><br>
                    
                    <label>
                        Company name
                    </label>
    
                    <input type="companyname" v-model="compName" name="">
    
                    <br><br>
    
                    <label>
                        Eslogan
                    </label>
    
                    <input type="eslogan" v-model="compEsl" name="">
    
                    <br><br>
    
                    <label>
                        BS
                    </label>
    
                    <input type="bs" v-model="compBs" name="">
    
                    <br><br>
    
                    <button @click = "save">
                        Guardar
                    </button>
                    <button @click = "cancelar">
                        Cancelar
                    </button>
                </fieldset>
            </form>
        </div>

    </div>

    

    <script type="text/javascript">

        const { createApp } = Vue;

        const data = null;
        const error = null;

        var test = createApp({
            data () {
                return {
                    id: "",
                    action: true,
                    email: null,
                    users: null,
                    password: null,
                    name: '',
                    username: "",
                    email: "",
                    phone: "",
                    website: "",
                    compName: "",
                    compEsl: "",
                    compBs: "",
                    editarUs: false
                }
            },
            methods: {
                save(e){
                    e.preventDefault();

                    var idAux = ""

                    for (let i = 0; i < this.users.length; i++) {
                        idAux=this.users[i].id
                    }

                    idAux++
                    

                    if (this.editarUs==false){
                        var nuevoUsuario ={
                            id: idAux,
                            name:this.name,
                            username: this.username,
                            email: this.email,
                            phone: this.phone,
                            website:this.website,
                            company: {
                                name: this.compName,
                                catchPhrase: this.compEsl,
                                bs: this.compBs
                            },
                        }
                        this.action=true
                        swal("Usuario añadido!", "", "success");

                        this.users.push(nuevoUsuario)
                    }else{

                        console.log("1")
                        
                        var id = this.id
                        var name = this.name
                        var username = this.username
                        var email = this.email
                        var phone = this.phone
                        var website = this.website
                        var compName = this.compName
                        var compEsl = this.compEsl
                        var compBs = this.compBs

                        var acces = this.users.map(function(u){

                            if (id==u.id){
                                u.name= name
                                u.username = username
                                u.email = email
                                u.phone = phone
                                u.website = website
                                u.company.name = compName
                                u.company.catchPhrase = compEsl
                                u.company.bs = compBs

                            }
                        
                        })

                        this.action = true
                        this.editarUs = false
                        swal("Usuario editado!", "", "success");


                    }

                    
                    
                    
                },

                cerrarSesion(){

                    window.location="usuariostabla.html"

                },

                editar(usuario){

                    this.id=usuario.id
                    
                    this.name= usuario.name
                    this.username= usuario.username
                    this.email= usuario.email
                    this.phone= usuario.phone
                    this.website= usuario.website
                    this.compName= usuario.company.name
                    this.compEsl= usuario.company.catchPhrase
                    this.compBs= usuario.company.bs

                    this.action=false

                    this.editarUs=true

                },


                cancelar(){
                    this.action=true
                },

                registrar(){

                    this.name= "",
                    this.username = "",
                    this.email= "",
                    this.phone= "",
                    this.website= "",
                    this.compName= "",
                    this.compEsl= "",
                    this.compBs= "",
                    this.action=false
                },
                borrar(id){

                    var idUser = ""

                    for (let i = 0; i < this.users.length; i++) {
                        if (id==this.users[i].id){
                            idUser = i
                        }
                    }
                    
                    swal({
                    title: "¿Estas seguro?",
                    text: "Una vez borrado, se perderá el usuario",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                    if (willDelete) {
                        swal("Se eliminó el usuario", {
                        icon: "success",
                        });
                        this.users.splice(idUser, 1);
                    } else {
                        swal("No se eliminó el usuario");
                    }
                    });
                }
                
            },
            mounted(){
                fetch('users.json')
                    .then((res) => res.json())
                    .then((json) => (this.users = json))
                    .catch((err) => (console.log(err)))

            }
            
        }).mount("#contenedor")

    </script>


    
</body>
</html>